@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url("../public/images/background-mobile.svg") no-repeat center
    center fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  html {
    background-image: url("../public/images/background-tablet.svg");
  }
}

@media (min-width: 1280px) {
  html {
    background-image: url("../public/images/background-desktop.svg");
  }
}
